<!DOCTYPE html>
<!--
  Change The Default User Password during The First Authentication
-->
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Matricule | Formations · Douane</title>
  <!-- Icon | Logo -->
  <link rel="icon" href="/img/logo.png" />
  <!-- Main CSS -->
  <link rel="stylesheet" href="/css/main.css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.css" />
</head>

<body>
  <!-- Main -->

  <!-- Alert -->
  <section class="container mt-5">
    <div class="inner">
      <header class="text-center">
        <div class="alert alert-danger" role="alert">
          <h1>Préciser votre matricule.</h1>
        </div>
        <a href="#matricule">
          <img class="btn bg-transparent" src="/img/icons/arrow-down.png" width="80" alt="arrow-down" />
        </a>
      </header>
    </div>
  </section>

  <!-- Section | Change Default Password -->
  <section id="matricule" class="container mt-4">
    <div class="inner">
      <div class="jumbotron align-center">
        <form action="/agent/profile" method="post">
          <div class="input-group input-group-lg mb-2">
            <div class="input-group-prepend">
              <div id="new-matricule" class="input-group-text">
                <img src="/img/icons/padlock.png" width="30" alt="lock" />
              </div>
            </div>
            <input aria-label="New-matricule" aria-describedby="new-matricule" class="form-control" type="password"
              name="matricule" value="" placeholder="Matricule" />
          </div>

          <div class="input-group input-group-lg mb-2">
            <div class="input-group-prepend">
              <div id="new-matricule-again" class="input-group-text">
                <img src="/img/icons/padlock-1.png" width="30" alt="lock-1" />
              </div>
            </div>
            <input aria-label="New-matricule-again" aria-describedby="new-matricule-again" class="form-control"
              type="password" name="matricule_again" value="" placeholder="Resaisir le matricule" />
          </div>
          <div class="mt-4 text-center">
            <input id="validation-button" class="btn btn-primary" type="submit" value="Continuer" />
          </div>
        </form>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer id="footer" class="footer text-center mt-auto py-3" style="background-color: #1d2124;">
    <div class="container">
      <ul class="nav justify-content-center text-muted">
        <li class="nav-item m-4">
          <a href="https://www.douane.gov.tn" class="icon"><img src="/img/logo.png" width="30" alt="douane" /></a>
          <p>Site-officiel</p>
        </li>
        <li class="nav-item m-4">
          <a href="https://twitter.com/DouaneTunisie/" class="icon"><img src="/img/icons/twitter.png" width="30"
              alt="twitter" /></a>
          <p>Twitter</p>
        </li>
        <li class="nav-item m-4">
          <a href="https://www.facebook.com/douane.tunisie/" class="icon"><img src="/img/icons/facebook.png" width="30"
              alt="facebook" /></a>
          <p>Facebook</p>
        </li>
        <li class="nav-item m-4">
          <a href="https://www.youtube.com/channel/UCnaeFNIErTt_coPSykdnCWg/featured" class="icon"><img
              src="/img/icons/youtube.png" width="30" alt="youtube" /></a>
          <p>Youtube</p>
        </li>
      </ul>
      <p class="text-muted">
        &copy; Tous droits réservés. Projet:
        <a href="https://www.douane.gov.tn">Douane Tunisienne</a>. Mise en
        place:
        <a href="https://univ-internationale.com/fr/SAP-Next-Gen/SC-20">SAP Next-Gen 2020 | UIT</a>.
      </p>
    </div>
  </footer>

  <!-- Scripts -->

  <!-- Bootstrap 4.5.2 -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>

  <!-- Main JavaScript -->
  <script src="js/main.js"></script>
</body>

</html>